* {
    justify-content: space-around;
    background-color: #DCF6FD;
}

.header{
    display: flex;
    align-items: center;

}
.SiteLogo>ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}
.btn>button{
    border-radius: 25px;
    padding: 10px 20px;
    background-color:#5E5CE6;
}
.banner{
    display: flex;
   text-align: center;
}
.img{
    display: flex;
    height: 400PX;
    width: 500px;
    }
    .banner>div>h1{
        padding-top: 20px;
        text-align: left;
        padding-left: 50px;
    }
    .banner>div>P{
        text-align: left;
        padding-left: 50px;
        padding-top: 20px;
    }
    .content{
        
        background-color: #DCF6FD;
        justify-content: space-around;
        width: 760px;
       padding-left: 20%;
    }
    .btn2{
        border-radius: 25px;
        padding: 10px 20px;
        background-color:#5E5CE6;
        text-align: left;
        
    }